@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap');

body {
	background-color: #181818;
	color: #00ffff;
	font-family: 'Cairo', sans-serif;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
  }

.star {
    position : absolute;
    padding-top: 10px;
    left     : 50%;
    transform: translateX(-50%);
    width    : 100vw;
    height   : 100%;
    animation: star 2s ease-in infinite;
}

.star1 {
    background: url(star1.png) no-repeat center center;
}

.star2 {
    background: url(star2.png) no-repeat center center; animation-delay: .8s;
}

.star3 {
    background: url(star3.png) no-repeat center center; animation-delay: 1.7s;
}

@keyframes star {
    10% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }
}

  #day{
	font-size: 100px;
	font-weight: bold;
	padding-top: 5vh;
	text-align: center;
}
  
  #clock {
	font-size: 80px;
	text-align: center;
	line-height: 20px;

  }

  #helloGreet {
	font-size: 35px;
	text-align: center;
	line-height: 70px;
  }


  /* #teletubbies {
	width: 300px;
	height: 300px;
	background-image: url("red.png");
  } */